<div class="container">
	<div class="row">

<div class="col-md-6 col-md-offset-3">

<h1>Welcome to
<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
<strong>Bookers</strong>
!!
</h1>

<p>In
<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
<strong>Bookers,</strong>
</p>

<p>you can share and exchange your opinions , inpressions , and emotions</p>

<p>about varioius books!</p>


<div class="row">
<%= link_to new_user_session_path,class:"sign_in" do %>
<button class="btn btn-info col-md-10 col-md-offset-1">login</button>
<% end %>
</div>



<div class="row">
<%= link_to new_user_registration_path,class:"sign_up" do %>
<button class="btn btn-success col-md-10 col-md-offset-1">sign up</button>
<% end %>
</div>

</div>

    </div>
</div>